@model BL.Usuario
@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Usuarios</h1>

<div class="container">

<a href="@Url.Action("Form", "Usuario")" class="btn btn-success">Agregar</a>


    <table class="table table-danger table-striped table-responsive text-center">

        <thead class="table table-danger text-center">
            <tr class="table table-danger text-center">
                <th>Id Usuario</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Id Rol</th>
                <th>Nombre Rol</th>
                <th>Editar</th>
                <th>Eliminar</th>


            </tr>
        </thead>

        <tbody>
            @foreach(BL.Usuario usuario in Model.UsuariosObject)
            {
                <tr>

                    <td>@usuario.IdUsuario</td>
                    <td>@usuario.UserName</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.ApellidoPaterno</td>
                    <td>@usuario.ApellidoMaterno</td>
                    <td>@usuario.IdRol</td>
                    <td>@usuario.Rol.Nombre</td>
                    <td><a class="btn btn-primary" href="@Url.Action("Form", "Usuario", new{IdUsuario = usuario.IdUsuario})"></a></td>
                    <td><a class="btn btn-danger" href="@Url.Action("Delete", "Usuario", new{IdUsuario = usuario.IdUsuario})" onclick="return confirm('Estas seguro que deseas ELIMINAR este USUARIO?');"></a></td>

                </tr>
            }
           


        </tbody>

    </table>


</div>